.card-wrapper {
  width: 270px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* position: absolute; */
  /*border: 1px solid rgb(211, 56, 82);
  */
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 12px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition-delay: 0.5s;
  border: 8px solid black;
  transition: 0.6s linear;
  -webkit-transition: 0.6s linear;
  -moz-transition: 0.6s linear;
  -ms-transition: 0.6s linear;
  -o-transition: 0.6s linear;
  overflow-y: scroll;
}
.card-wrapper:hover {
  background-color: #000000;
  color: white;
}

.card-top {
  width: 100%;
  height: 2%;
}

.task-holder {
  /* width: 100%;
  height: 98%; */
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-header {
  margin-top: 10px;
  margin-bottom: 90px;
  height: 30px;
  /* padding: 1px 1px !important; */
  text-align: center;
  font-weight: 700;
  /* border: 1px solid black; */
  font-size: 20px;
  font-style: italic;
  border-bottom: 1px solid red;
  color: rgb(249, 249, 249);
  width: max-content;
}
.card-para {
  font-weight: 500;
}
.option-button {
  margin-right: 10px;
  cursor: pointer;
  padding-right: 5px;
  font-size: 15px;
}
.display-likes {
  margin-left: -13px;
  font-size: 10px;
  margin-bottom: 10px;
  position: absolute;
  font-weight: 400;
}
@media only screen and (max-width: 460px) {
  .card-wrapper {
    width: 30%;
  }
  .task-container {
    padding: 0;
  }
}
@media only screen and (max-width: 280px) {
  .card-header {
    font-size: 15px;
  }
  .card-para {
    font-size: 10px;
  }
  .card-wrapper {
    height: 300px;
  }
}
@media only screen and (max-width: 550px) {
  .task-container {
    justify-content: center;
  }
  .card-wrapper {
    width: max-content;
  }
}
@media only screen and (max-width: 470px) {
  .task-container {
    padding: 0;
  }
  .card-wrapper {
    width: 9 0%;
  }
}
